.container .profile-data .repositories h2 {
    margin-bottom: 30px;
    text-align: center;
}

.container .profile-data .repositories ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .profile-data .repositories ul li a {
    padding: 20px;
    border: 1px solid grey;
    margin: 20px;
    display: block;
    border-radius: 7px;
    transition: 0.3s ease-in-out;
    color: black;
}

.container .profile-data .repositories ul li a span{
    background-color: rgb(99, 55, 182);
    margin: 5px;
    color: #fff;
}

.container .profile-data .repositories ul li a:hover {
    background-color: hotpink;
    color: #fff;
}

.container .profile-data.hide {
    display: none;
}